{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <h1 class="offset-4">Équipes</h1>
        </div>

        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto debitis deserunt dicta distinctio, dolor dolore doloribus earum laudantium molestiae quam qui quisquam reprehenderit rerum sint, ullam. Aspernatur error tempora veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias at consequatur culpa debitis delectus deleniti impedit ipsam maxime nam necessitatibus nobis, perspiciatis, porro similique suscipit velit voluptate. Dicta, suscipit!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab cumque cupiditate eius eos id, iure magnam molestiae odit optio praesentium quam quia recusandae reiciendis soluta ullam, voluptate, voluptatem voluptates!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores doloribus enim id libero officiis voluptas voluptatem. Aspernatur atque, blanditiis expedita fugiat iusto nobis numquam porro quaerat quis sunt vero!</p>
        </div>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}