{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <h1 class="offset-4">Compétition</h1>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}