<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/general.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans" rel="stylesheet">
    </head>
    <body>
        <header>

            {% block header %}    {% include 'header.html.twig' %}
            {% endblock %}
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
