{% block header %}


    <footer class="jumbotron" style="height: 100px;">

        <p class="footer">Site crée par Kévin avec un peu (vraiment peu) d'aide d'Hasan, de Tiffany, de Xavier et d'Aurélien</p>
        <p></p>

    </footer>



{% endblock %}

{% block stylesheets %}

    <style>

        .jumbotron{
            background-color: darkslategray;
            border-radius: 0px;
        }

        .footer{
            color : white;
        }

    </style>

{% endblock %}