{% block header %}


    <footer class="jumbotron" style="">

        <p class="footer">Site crée par Hasan, Tiffany, Xavier, Aurélien avec un peu d'aide de Kevin (mais très peu)</p>
        <p></p>

    </footer>



{% endblock %}

{% block stylesheets %}

    <style>

        .jumbotron{
            background-color: darkslategray;
            border-radius: 0px;
            height: 100px;
            width: 100%;
        }

        .footer{
            width: 100%;
            color : white;
        }

    </style>

{% endblock %}
