{% block header %}


<<<<<<< HEAD
    <footer class="jumbotron" style="height: 100px;">

        <p class="footer">Site crée par Kévin avec un peu (vraiment peu) d'aide d'Hasan, de Tiffany, de Xavier et d'Aurélien.</p>
        <p></p>

=======
    <footer>
        <img style="width: 140px; margin-top: 20px;" src="{{ asset('images/AquaHippique.png') }}" alt="logoFooter" />
        <p>Site crée par Kévin avec un peu (vraiment peu) d'aide d'Hasan, de Tiffany, de Xavier et d'Aurélien</p>
>>>>>>> 0d4490730ef6b9e8cf1c9c691b0398ffdf3bd64a
    </footer>



{% endblock %}

{% block stylesheets %}

    <style>

        footer {
            height : 80px;
            text-align: center;
            bottom: 0;
            font-size: 12px;
            background-color: #5e5e5e;
        }

    </style>

{% endblock %}