{% block header %}

    
    <footer>
        <img style="width: 140px; margin-top: 20px;" src="{{ asset('images/AquaHippique.png') }}" alt="logoFooter" />
        <p>Site crée par Kévin avec un peu (vraiment peu) d'aide d'Hasan, de Tiffany, de Xavier et d'Aurélien</p>
    </footer>



{% endblock %}

{% block stylesheets %}

    <style>

        footer {
            height : 80px;
            text-align: center;
            bottom: 0;
            font-size: 12px;
            background-color: #5e5e5e;
        }

    </style>

{% endblock %}