/* ------------------- CSS général ------------------- */

h1 {
    font-family: 'Bowlby One SC', cursive;
    padding-top: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}



/* ------------------- Barre de navigation ------------------- */

.bg-dark {
    background-color: #5dc2da !important;
}

a {
    font-family: 'Bowlby One SC', cursive;
}

.navbar {
    z-index : 10 !important;
}
