{% extends 'base.html.twig' %}

{% block body %}
    <section id="accueil">
        <div class="container-fluid">

            <br>
            <div class="row">
                <div class="col-xs-12">
                    <img class="logo" src="{{ asset('images/AquaHippique.png') }}" alt="logo"/>

                        <h1 class="titrePrincipal">La première compétition de courses d’aqua poney !</h1>
                        <img class="horse" src="http://res.cloudinary.com/tiffanym/image/upload/q_100/v1526571976/horse_xgaajl.png"
                             alt="logo"/>
                </div>
            </div>

        </div>
    </section>


{% endblock %}
