{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="container">

        <div class="row">
            <h1 class="offset-4">AquaHippique</h1>
            <p class="offset-3">Voici la plus grand compétition d'Aqua Poney du Bas-Rhin !</p>
        </div>

        <div class="row">
            <p></p>
        </div>

        <img src="/app/Resources/views/accueil/AQUAHIPPIQUE.png" alt="">

    </div>
{% endblock %}