{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="">
            <img class="offset-4" src="{{ asset('images/AQUAHIPPIQUE.png') }}" alt="">
            <div class="row">
                <p class="offset-3">Voici la plus grand compétition d'Aqua Poney du Bas-Rhin !</p>
            </div>
        </div>

        <div class="row">
            <p></p>
        </div>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}