{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="offset-4">Contact</h1>
    </div>

    <section class="row">

        <form class="form-group col-8 offset-2" action="#Motif" method="post">

            <select class="form-control" name="objet" id="Motif">
                <option value="0" disabled>Objet de votre message</option>
                <option value="1">Équipes</option>
                <option value="2">Programmes</option>
                <option value="3">Horaires</option>
                <option value="4">Lieux</option>
                <option value="5">Autre</option>
            </select>
            <br><br>

            <input class="form-control" type="text" name="titre" placeholder="Titre de votre message" value="">
            <br><br>

            <input class="form-control" type="text" name="nomprenom" placeholder="Vos nom et prénom" value="">
            <br><br>

            <input class="form-control" type="email" name="email" placeholder="Votre adresse e-mail" value="">
            <br><br>

            <textarea class="form-control" name="message" rows="8" cols="60" placeholder="Votre message"></textarea>
            <br><br>

            <input type="submit" class="btn btn-light btn-lg" value="Envoyer">

        </form>

    </section>

    {% include 'footer.html.twig' %}

{% endblock %}